.bounding-box {
    position: absolute;
    box-shadow: 0 0 0 3px #149df2 inset;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
  }


  .sentiment-output {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1rem;
    border-radius: 10px;
    width: fit-content;
    margin-top: 1rem;
}

.sentiment-output ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sentiment-output li {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}