.face-section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 4rem;
    margin: 4rem auto;
    max-width: 1500px;
  }

.image-section {
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 3rem 3rem;
    background: rgba(255, 255, 250, 0.5);
    border: 1px solid rgb(58, 62, 69);
    border-radius: 0.5rem;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
    max-width: 100%;
    max-width: 900px;
    width: fit-content;
}

.image-section img {
    display: flex;
    justify-content: center; 
    align-items: center;     
    max-width: 100%;
    height: auto;
    display: block;
  }

.sentiment-section {
    display: inline-block;
    padding: 1.5rem;
    background: rgba(255, 255, 250, 0.5);
    border: 1px solid rgb(58, 62, 69);
    border-radius: 0.5rem;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
    width: fit-content;
    max-width: 400px;
    text-align: center;
}

.sentiment-section ul {
    text-align: left;
    padding: 1;
    margin: 0;
}

.face-container {
    position: relative;
  }

.face-container img {
    display: flex;
    justify-content: center; 
    align-items: center;  
}

.bounding-box {
    position: absolute;
    box-shadow: 0 0 0 3px #149df2 inset;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
    pointer-events: none;
  }